# JCDecaux
JCDECAUX_API_KEY=YOUR_REAL_KEY
JCDECAUX_CONTRACT_NAME=Dublin

# OpenWeather
OPENWEATHER_API_KEY=YOUR_REAL_KEY
WEATHER_LAT=53.3498
WEATHER_LON=-6.2603

# MySQL (docker)
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bike_app

# Scraper schedule
INTERVAL_SECONDS=300
RUNS=576
