# JCDecaux
JCDECAUX_API_KEY=YOUR_REAL_KEY
JCDECAUX_CONTRACT=Dublin

# MySQL (docker)
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bike_app

# Scraper schedule
INTERVAL_SECONDS=300
RUNS=576
